{% extends 'template1/base.html' %}
{% load static %}
{% block title %}Advanced Stats
{% endblock %}

{% block advancedStats %}
<script src="{% static 'scripts/advancedStats.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<div class="section type-2" style="padding-top: 60px;">
    <div class="container">
        <div class="section-headlines" style="margin-bottom: 30px;">
        <h4>Rankings</h4>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-5">
            <canvas id="userMentions"></canvas>
        </div>
        <div class="col-lg-5">
            <canvas id="userM"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <canvas id="tweet1"></canvas>
        </div>
        <div class="col-lg-5">
            <canvas id="tweet2"></canvas>
        </div>
    </div>
</div>
    <script>
        var received_data  = {{ dataToSendToJs|safe }} ;
        statsDrawer(received_data[0],'userMentions','1','radar','rgb(0,172,238)');
        statsDrawer(received_data[1],'tweet1','2','bar');
        statsDrawer(received_data[2],'userM','3','line');
        statsDrawer(received_data[3],'tweet2','4','doughnut');
    </script>
{% endblock %}