{% extends 'template1/base.html' %}
{% load static %}
{% block title %} Mapping{% endblock %}
{% block mapping %}
<script src="{% static 'scripts/advancedStats.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <!--
    <div class="section type-2" style="padding-top: 69px; flex: 1;">
    <div class="section-headlines" style="margin-bottom: 0;">
    <h4 style="padding-bottom: 0;margin-bottom: 0;">Mapping</h4>
    </div>
</div>-->

<div class="container" style="flex: 1; margin-right: 10px;">
    <div class="row border" style="padding-left: 0px;">
        <div class="mr-lg-auto">
            <canvas id="mappingStats"></canvas>
        </div>
        <div class="col-lg-10 ml-lg-auto border ">
            <div  id="container180" style="position: relative; margin:auto;height: 500px;padding-top: 0px;"></div>
        </div>
    </div>
</div>
<script src="../../static/scripts/d3.min.js"></script>
<script src="../../static/scripts/topojson.min.js"></script>
<script src="../../static/scripts/datamaps_world_min.js"></script>
<script>
    var received_data  = {{ dataToSendToJs|safe }};
    var map = new Datamap({element: document.getElementById('container180'),
    fills: {

            HIGH: '#CB4335',
            LOW: '#5ac748',
            MEDIUM: '#2650c7',
            defaultFill: 'grey'
        },
        data: received_data,
        geographyConfig: {
        popupTemplate: function (geo, data) {
            return ['<div class="hoverinfo"><strong>',
                 geo.properties.name,
                ': ' + data.numberOfThings + ' tweet(s)',
                '</strong></div>'].join('');
        }
    }
    });
    map.legend();
</script>

<script>
    var received_mapping_data = {{ mappingStats|safe}};
    console.log(received_mapping_data);
    statsDrawerMapping(received_mapping_data,'mappingStats','Locations info');
</script>
    <br class="gap-70">
    <br class="gap-70">
    <br class="gap-70">
{% endblock %}