{% extends 'template1/base.html' %}


{% block title %} Previous researches{% endblock %}
{% block previousResearches %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>

        $(".prev-details").click(function() {
            window.location = $(this).find("a").attr("href");
            return false;}
            );
    </script>
    <div class="section type-2">
        <div class="container">
            <div class="section-headlines">
                <h4>Previous researches</h4>
            </div>
        </div>

    <div class="col-8 list-group" style="margin: auto;">

    {% for research in previousResearches %}
        <a href="{% url 'results' research_id=research.researchId %}" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">
                    {{ research.researchDate }}
                </h5>
                <small>{{ research.numberOfTweets }} tweets collected </small>
            </div>

        <p class="mb-1">

            {% if research.researchType.type == 'Stream'  %}
                keywords : '{{ research.getKeywords }}'
            {% elif research.researchType.type == 'OffStream' %}
                screen name :
            {% endif %}

        </p>
            <small>Type : {{ research.researchType.type }}</small>
        </a>
        <br class="gap-70">
























        <!--
        <div class ="prev-details">
            <ul  href="" class="list-group">
                <li class="list-group-item" style="width: 800px;height: 100px;">
                    <span class="badge"> Type : {{ research.researchType.type }} <br>
                    {{ research.numberOfTweets }} tweets collected
                    </span>

                    {{ research.researchDate }} <br> {{ research.ratio }} tweets/s <br>
                    {{ research.resultsFileName }} <br>


                </li>
            </ul>
        </div>
        -->


    {% endfor %}


    </div>


    </div>
    <br class="gap-70">
{% endblock %}