{% extends 'template1/base.html' %}


{% block title %} Previous researches{% endblock %}
{% block previousResearches %}
        <div class="col-8 list-group " style="margin: auto;">
        {% if previousResearches %}
             <div class="section-headlines mb-5 mt-3">
                <h4 class="mb-0">Previous researches</h4>
            </div>
            {% for research in previousResearches %}
                <a href="{% url 'results' research_id=research.researchId %}" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">
                            {{ research.researchDate }}
                        </h5>
                        <small>{{ research.numberOfTweets }} tweets collected </small>
                    </div>

                <p class="mb-1">

                    {% if research.researchType.type == 'Stream'  %}
                        keywords : '{{ research.getKeywords }}'
                    {% elif research.researchType.type == 'OffStream' %}
                        screen name :
                    {% endif %}

                </p>
                    <small>Type : {{ research.researchType.type }}</small>
                </a>
                <br class="gap-70">

            {% endfor %}
        </div>
    </div>
    {% else %}
        <div class="m-auto mb-0">
            <img src="../../static/images/no_results_found.png">
        </div>
    {% endif %}
    <br class="gap-70">
    </div>

{% endblock %}


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>

$(".prev-details").click(function() {
    window.location = $(this).find("a").attr("href");
    return false;}
    );
</script>