{% extends 'template1/base.html'%}

{% block title %}
    Search
{% endblock %}

{% block tweets_search %}
    <div class="section type-2" style="padding-bottom: 100px; padding-top: 71px;">
        <div class="container">
            <div class="row d-flex">
                <div class="col-4 mr-auto">
                    <div class="section type-2" style="padding-bottom: 0; padding-top: 0;" >
                        <div style="margin: auto;" class="container" >
                            <div  class="section-headlines">
                                <h4>Stream</h4>
                            </div>
                        </div>
                    </div>
                    <form action="{% url 'search' %}" class="form" method="post">
                        {% csrf_token %}

                            <label for="keywords">Keywords: </label>
                            <input name="keywords" id="keywords" type="text" class="input form-control" ><br>

                            {% if form0.errors %}
                                {% for error in form0.keywords.errors %}
                                <div class="alert alert-danger">
                                   <i class="fas fa-exclamation"></i> <strong>  {{ error|escape}}</strong>
                                </div>
                                {% endfor %}
                            {% endif %}

                            <label for="time">Streaming duration (seconds) </label>
                            <input name="streamingDuration" id="time" type="number" class="input form-control" ><br>
                            {% if form0.errors %}
                                {% for error in form0.streamingDuration.errors %}
                                <div class="alert alert-danger">
                                   <i class="fas fa-exclamation"></i> <strong>  {{ error|escape}}</strong>
                                </div>
                                {% endfor %}
                            {% endif %}

                            <button type="submit" href="{% url 'search' %}" style="width:150px;height:40px ;margin: auto;" class="btn btn-primary ">Search</button>
                    </form>
                </div>

                <div class="col-4 ml-auto">
                    <div class="section type-12" style="padding-bottom: 0;padding-top: 0;" >
                        <div style="margin: auto;" class="container" >
                            <div  class="section-headlines">
                                <h4>Off-Stream</h4>
                            </div>
                        </div>
                    </div>
                    <select id="offstr_type" class="form-control form-control-lg" name="off_stream_select_box">
                        <option id="def" selected>Choose wisely</option>
                        <option id="screen_name" value="screen_name" >By screen name</option>
                        <option id="hashtag" value="hashtag">By Hashtag</option>
                        <option id="keywords1" value="keywords">By keywords</option>
                    </select><br>



                    <form action="{% url 'search' %}" class="form" method="post" id="off_stream">
                        {% csrf_token %}

                        <div id="formDiv">
                        {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <i class="fas fa-exclamation"></i>
                                    <strong>  {{ error|escape}}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>


    <script src="../../static/scripts/researchType.js"></script>
    <script>

        selection.addEventListener('change',function () {
            if (document.getElementById("screen_name").selected === true)
                getByScreenName();
            else if (document.getElementById("hashtag").selected === true)
                getByHashTag();
            else if (document.getElementById("keywords1").selected === true)
                getByKeyWords();
            else
                clearBox("formDiv");
        });
    </script>







{% endblock %}



