{% extends 'template1/base.html'%}

{% block title %}
    Search
{% endblock %}

{% block tweets_search %}
    <div class="section type-2" style="padding-bottom: 100px; padding-top: 71px;">
        <div class="container">
            <div class="row d-flex">
                <div class="col-4 mr-auto">
                    <div class="section type-2" style="padding-bottom: 0; padding-top: 0;" >
                        <div style="margin: auto;" class="container" >
                            <div  class="section-headlines">
                                <h4>Stream</h4>
                            </div>
                        </div>
                    </div>
                    <form action="{% url 'search' %}" class="form" method="post">
                        {% csrf_token %}
                        <label for="keywords">Keywords: </label>
                        <input name="keywords" id="keywords" type="text" class="input form-control" ><br>
                        <label for="time">Streaming duration (seconds) </label>
                        <input name="streamingDuration" id="time" type="text" class="input form-control" ><br>
                        <button type="submit" href="{% url 'search' %}" style="width:150px;height:40px ;margin: auto;" class="btn btn-primary ">Search</button>
                    </form>
                </div>


                <div class="col-4 ml-auto">
                    <div class="section type-12" style="padding-bottom: 0;padding-top: 0;" >
                        <div style="margin: auto;" class="container" >
                            <div  class="section-headlines">
                                <h4>Off-Stream</h4>
                            </div>
                        </div>
                    </div>
                    <select id="offstr_type" class="form-control form-control-lg" name="off_stream_select_box">
                        <option id="def" selected>Choose wisely</option>
                        <option id="screen_name" value="screen_name" >By screen name</option>
                        <option id="hashtag" value="hashtag">By Hashtag</option>
                        <option id="keywords1" value="keywords">By keywords</option>
                    </select>
                    <form action="{% url 'search' %}" class="form" method="post" id="off_stream">
                        {% csrf_token %}
                        <div id="formDiv">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        function clearBox(elementID) {
        document.getElementById(elementID).innerHTML = "";
        }

        function getByScreenName() {

            clearBox("formDiv");
            var count=document.createElement("input");
            var since=document.createElement("input");
            var screen=document.createElement("input");
            var submit=document.createElement("button");
            count.setAttribute("type","number");
            count.setAttribute("class","form-control");
            count.setAttribute("id","count");
            count.setAttribute("name","count");
            since.setAttribute("type","Date");
            since.setAttribute("class","form-control");
            since.setAttribute("id","since");
            since.setAttribute("name","since");
            screen.setAttribute("type","text");
            screen.setAttribute("class","form-control");
            screen.setAttribute("id","screen");
            screen.setAttribute("name","screen");
            submit.setAttribute("class","btn btn-primary");
            submit.innerText="Search";
            var countLabel=document.createElement("label");
            countLabel.setAttribute("for","count");
            countLabel.innerText="Tweets limit:";
            var screenLabel=document.createElement("label");
            screenLabel.setAttribute("for","screen");
            screenLabel.innerText="Screen name:";
            var sinceLabel=document.createElement("label");
            sinceLabel.setAttribute("for","since");
            sinceLabel.innerText="Since:";


            var form=document.getElementById("formDiv");

            form.appendChild(document.createElement("br"));
            form.appendChild(screenLabel);
            form.appendChild(screen);
            form.appendChild(document.createElement("br"));
            form.appendChild(sinceLabel);
            form.appendChild(since);
            form.appendChild(document.createElement("br"));
            form.appendChild(countLabel);
            form.appendChild(count);

            form.appendChild(document.createElement("br"));
            form.appendChild(submit);
            form.appendChild(document.createElement("br"));
        }


        var selection = document.getElementById("offstr_type");

        function getByHashTag() {
            clearBox("formDiv");
            var count=document.createElement("input");
            var since=document.createElement("input");
            var tag=document.createElement("input");
            var submit=document.createElement("button");
            count.setAttribute("type","number");
            count.setAttribute("class","form-control");
            count.setAttribute("id","count");
            count.setAttribute("name","count");
            since.setAttribute("type","Date");
            since.setAttribute("class","form-control");
            since.setAttribute("id","since");
            since.setAttribute("name","since");
            tag.setAttribute("type","text");
            tag.setAttribute("class","form-control");
            tag.setAttribute("id","tag");
            tag.setAttribute("name","tag");
            submit.setAttribute("class","btn btn-primary");
            submit.innerText="Search";
            var countLabel=document.createElement("label");
            countLabel.setAttribute("for","count");
            countLabel.innerText="Tweets limit:";
            var tagLabel=document.createElement("label");
            tagLabel.setAttribute("for","tag");
            tagLabel.innerText="Hashtag:";
            var sinceLabel=document.createElement("label");
            sinceLabel.setAttribute("for","since");
            sinceLabel.innerText="Since:";


            var form=document.getElementById("formDiv");

            form.appendChild(document.createElement("br"));
            form.appendChild(tagLabel);
            form.appendChild(tag);
            form.appendChild(document.createElement("br"));
            form.appendChild(sinceLabel);
            form.appendChild(since);
            form.appendChild(document.createElement("br"));
            form.appendChild(countLabel);
            form.appendChild(count);

            form.appendChild(document.createElement("br"));
            form.appendChild(submit);
            form.appendChild(document.createElement("br"));
        }

        function getByKeyWords() {
            clearBox("formDiv");
            var count=document.createElement("input");
            var since=document.createElement("input");
            var keywords=document.createElement("input");
            var submit=document.createElement("button");
            count.setAttribute("type","number");
            count.setAttribute("class","form-control");
            count.setAttribute("id","count");
            count.setAttribute("name","count");
            since.setAttribute("type","Date");
            since.setAttribute("class","form-control");
            since.setAttribute("id","since");
            since.setAttribute("name","since");
            keywords.setAttribute("type","text");
            keywords.setAttribute("class","form-control");
            keywords.setAttribute("id","keywords");
            keywords.setAttribute("name","keywords");
            submit.setAttribute("class","btn btn-primary");
            submit.innerText="Search";
            var countLabel=document.createElement("label");
            countLabel.setAttribute("for","count");
            countLabel.innerText="Tweets limit:";
            var keyLabel=document.createElement("label");
            keyLabel.setAttribute("for","keywords");
            keyLabel.innerText="Keywords:";
            var sinceLabel=document.createElement("label");
            sinceLabel.setAttribute("for","since");
            sinceLabel.innerText="Since:";


            var form=document.getElementById("formDiv");
            form.appendChild(document.createElement("br"));
            form.appendChild(keyLabel);
            form.appendChild(keywords);
            form.appendChild(document.createElement("br"));
            form.appendChild(sinceLabel);
            form.appendChild(since);
            form.appendChild(document.createElement("br"));
            form.appendChild(countLabel);
            form.appendChild(count);

            form.appendChild(document.createElement("br"));
            form.appendChild(submit);
            form.appendChild(document.createElement("br"));
        }

        selection.addEventListener('change',function () {
            if (document.getElementById("screen_name").selected === true)
                getByScreenName();
            else if (document.getElementById("hashtag").selected === true)
                getByHashTag();
            else if (document.getElementById("keywords1").selected === true)
                getByKeyWords();
            else
                clearBox("formDiv");
        });
    </script>

{% endblock %}



