{% extends 'template1/base.html'%}

{% block title %}
    Search
{% endblock %}

{% block tweets_search %}
    <link rel="stylesheet" href="../../static/css/disabledbutton.css">

    <div  class="section type-2" style="padding-bottom: 100px; padding-top: 71px;">
        <div class="container-fluid">
            <div class="row d-flex">
                <div  class="col-lg-4 offset-lg-1 Todisable">
                    <div class="section type-2" style="padding-bottom: 0; padding-top: 0;" >
                        <div style="margin: auto;" class="container" >
                            <div  class="section-headlines">
                                <h4>Stream</h4>
                            </div>
                        </div>
                    </div>
                    <form action="{% url 'search' %}" class="form" method="post">
                        {% csrf_token %}

                            <label for="keywords">Keywords: </label>
                            <input name="keywords" id="keywords" type="text" class="input form-control" ><br>

                            {% if form0.errors %}
                                {% for error in form0.keywords.errors %}
                                <div class="alert alert-danger">
                                   <i class="fas fa-exclamation"></i> <strong>  {{ error|escape}}</strong>
                                </div>
                                {% endfor %}
                            {% endif %}

                            <label for="time">Streaming duration (seconds) </label>
                            <input name="streamingDuration" id="time" type="number" class="input form-control" ><br>
                            {% if form0.errors %}
                                {% for error in form0.streamingDuration.errors %}
                                <div class="alert alert-danger">
                                   <i class="fas fa-exclamation"></i> <strong>  {{ error|escape}}</strong>
                                </div>
                                {% endfor %}
                            {% endif %}

                            <button type="submit"  href="{% url 'search' %}" style="width:150px;height:40px ;" class="btn btn-primary actiongif">Search</button>
                    </form>
                </div>

                {% if form0.errors or form.errors%}
                    <div class="col-lg-1 testgif" style="margin-top: 80px;"></div>
                {% else %}
                    <div class="col-lg-1 testgif" style="margin-top: 80px;"></div>
                {% endif %}


                <div class="col-lg-4 offset-lg-1 Todisable">
                    <div class="section type-12" style="padding-bottom: 0;padding-top: 0;" >
                        <div style="margin: auto;" class="container" >
                            <div  class="section-headlines">
                                <h4>Off-Stream</h4>
                            </div>
                        </div>
                    </div>

                    <select id="offstr_type" class="form-control form-control-lg" name="off_stream_select_box">
                        <option id="def" selected>Choose wisely</option>
                        <option id="screen_name" value="screen_name" >By screen name</option>
                        <option id="hashtag" value="hashtag">By Hashtag</option>
                        <option id="keywords1" value="keywords">By keywords</option>
                    </select><br>

                    <form action="{% url 'search' %}" class="form" method="post" id="off_stream">
                        {% csrf_token %}
                        <div class="mt-0" id="formDiv">
                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        <i class="fas fa-exclamation"></i>
                                        <strong>  {{ error|escape}}</strong>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}

                        </div>
                        <button class="btn btn-primary actiongif" type="submit"
                                    style="display:none;width:150px;height:40px ;"> Search
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>


<script src="../../static/scripts/researchType.js"></script>
<script>
var selection = document.getElementById("offstr_type");
selection.addEventListener('change',function () {
    if (document.getElementById("screen_name").selected === true) {
        getByScreenName();
        document.getElementsByClassName("actiongif")[1].style.display='block';
    }
    if (document.getElementById("hashtag").selected === true) {
        getByHashTag();
        document.getElementsByClassName("actiongif")[1].style.display='block';

    }
    if (document.getElementById("keywords1").selected === true) {
        getByKeyWords();
        document.getElementsByClassName("actiongif")[1].style.display='block';
    }
    if (document.getElementById("def").selected === true) {
        clearBox("formDiv");
        document.getElementsByClassName("actiongif")[1].style.display='none';

    }
});

$(function() {
    $('.actiongif').click(function() {
        $('.testgif').html('<img src="../../static/images/Blocks-2.9s-200px.gif">');
        $('.Todisable').addClass("disabledbutton");
        });
    });
</script>
{% endblock %}



