<!DOCTYPE html>
{% extends 'template1/base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>

{% block title %}Streaming search{% endblock %}
{% block form %}
    <div class="section type-2">
            <div class="section-headlines">
            <h4>Streaming search</h4>
            </div>
            <div class="row">
                <div class="col-6 " style="margin: auto;" >
                <form action="{% url 'streamingsearch' %}" class="form" method="post">
                    {% csrf_token %}
                    <label for="keywords">Keywords: </label>
                    <input name="keywords" id="keywords" type="text" class="input form-control" ><br>
                    <label for="time">Streaming duration (seconds) </label>
                    <input name="streamingDuration" id="time" type="text" class="input form-control" ><br>
                    <button type="submit" href="#" style="width:150px;height:40px ;margin: auto;" class="btn btn-primary ">Search</button>

                </form>
                </div>
            </div>
        </div>
    </div>
    <br class="gap-70">

{% endblock %}



</body>
</html>