{% extends 'template1/base.html' %}
{% load get_item %}
{% block title %}Neo4j visualization
{% endblock %}

{% block neovis %}
 <body>
    <div class="section type-2" style="padding: 35px;">
        <div class="section-headlines mt-0" style="margin-bottom: 0px;">
            <h4 style="margin-bottom: 0px;padding-bottom: 0px;">Visualization</h4>
        </div>
    </div>

<div class="container-fluid">
    <div class="row mt-0">
         <div class="col-lg-2 mr-auto" >
                <div class="text-center">
                        <div class="border rounded p-2 m-0 list-group-item-action" id="Visualize">
                            <i style="color:dodgerblue;" class="fas fa-play h1"></i><br>
                            Visualize
                        </div>
                        <br class="gap-70">
                        <div class="border rounded p-1 m-0 list-group-item-action" id="Stop">
                            <i style="color:dodgerblue;" class="fas fa-stop h1"></i><br>
                            Stop
                        </div>
                </div>
         </div>

         <div class="col-lg-8" id="mainDiv"  style="border: 1px solid lightgray;
                font: 22pt arial;display:none;">
         </div>
        <div class="col-lg-2">
            <ul class="list-group">
                <a id="nodeLabels" href="#" class="list-group-item-action flex-column align-items-start ">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Nodes
                <span class="badge badge-primary badge-pill">{{ creator.nodeCount }}</span>
              </li>
                </a>

                <div class="form-check  nodeLabels" style="display: none;margin-top: 5px;">
                    {% for nodeLabel in nodeLabelsAndCounter %}
                        <a href="#" id="{{ nodeLabel }}" style="margin-bottom: 5px;">
                        <span class="badge badge-pill badge-primary"  style="padding:6px;">
                            {{ nodeLabel }} ({{ nodeLabelsAndCounter|get_item:nodeLabel}})</span>
                        </a>
                   {% endfor %}
                </div>


             <a id="relLabels" href="#" class="list-group-item-action flex-column align-items-start " style="margin-top:10px;">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Relationships
                <span class="badge badge-primary badge-pill">{{ creator.relationshipsCount }}</span>
              </li>
             </a>
            </ul>

            <div class="form-check relLabels" style="display: none;margin-top: 5px;">
            {% for relationShipLabel in relationshipLabelsAndCounter %}
                <a href="#" id="{{ relationShipLabel }}">
                <span class="badge badge-pill badge-primary"  style="padding:6px;">
                        {{ relationShipLabel }} ({{ relationshipLabelsAndCounter|get_item:relationShipLabel }})</span>
                </a>
            {% endfor %}
            </div>
            </div>
    </div>

     <div class="row">
         <div class="col-3 offset-lg-5 mt-2 mb-2">Powered by :
             <img src="../../static/images/neo4j_logo.png" style="width: 120px;height: 50px;"  alt="">
         </div>
     </div>

    <div class="row">
        <div class="col-6 text-center" style="margin: auto;">

            <a href="{% url 'advancedStats' %}">
                <button  class="btn btn-primary actiongif" style="width: 170px;height:50px;"><i class="fas fa-chart-line"></i> Advanced stats</button>
            </a>

            <a href="{% url 'mapping' research_id %}" >
                <button  class="btn btn-primary actiongif" style="width: 170px;height:50px;"><i class="far fa-map "></i>  Mapping</button>
            </a>
        </div>
    </div>

        <br class="gap-70">
</div>



    <br class="gap-70">

    <script src="../../static/scripts/neovis.js"></script>
    <script src="../../static/scripts/visualization.js"></script>
    </body>
{% endblock %}

<!--

            container_id:"viz",
			server_url:"bolt://54.174.242.219:32934",
			server_user:"neo4j",
			server_password:"liberties-reel-preserver",
-->